.banner {
  background-size: cover;
  background-position: center;
  height: 450px;
  padding: 20px;
}

.banner .banner-content {
  padding: 40px;
}

.banner .text-left {
  text-align: left;
  width: 50vw;
}

.banner h1, p {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h1 {
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 25px;
  opacity: .9;
}
