.btn-yellow {
    margin-top: 15px;
    background: $dark-yellow;
    color: white;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      background: $yellow;
      color: white;
      text-decoration: none;
    }
}
