<div class="banner" style="background-image: url(../images/pictures/<%= current_page.data.banner_picture %>);">
  <div class="main-container banner-content-left">
    <div class="content-left">
      <h1><%= current_page.data.banner_title %></h1>
      <p><%= current_page.data.banner_text %></p>
    </div>
  </div>
</div>

