<div class="footer">
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
  <div class="footer-copyright">
    <%= data.settings.author.name %>
    <br>
    <%= data.settings.author.address %> -
    <%= data.settings.author.phone %> -
    <%= data.settings.author.email %>
  </div>
  <div class="footer-copyright">
    Just No Waste intervient avec  <i class="fas fa-heart"></i>  dans toute la Suisse Romande, et au delà.
  </div>
</div>
