<!-- Modal -->
<div class="modal fade" id="formCallModal" tabindex="-1" role="dialog" aria-labelledby="formCallModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formCallModalLabel">
          Découvrez les clefs de la démarche No Waste au travers l'exemple du festival de la Terre à Lausanne
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formCall" action="#" type="POST">
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" name="organization" class="form-control" id="organization" placeholder="Evènement ou organisation">
          </div>
          <button type="submit" class="btn-blue">Recevoir la conférence en video</button>
        </form>
      </div>
    </div>
  </div>
</div>
