<!-- Modal -->
<div class="modal fade" id="formCallModal" tabindex="-1" role="dialog" aria-labelledby="formCallModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formCallModalLabel">
          Démarche No Waste : l'exemple du Festival de la Terre
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Posting the form results on formspree -->
        <form id="formCall" action="https://formspree.io/xjvoeqaa" method="POST">
          <div class="form-group">
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email *" required>
          </div>
          <div class="form-group">
            <input type="text" name="organization" class="form-control" placeholder="Evènement ou organisation *" required >
          </div>
          <!-- Redirect to thanks page after submitting -->
          <input type="hidden" name="_next" value="https://www.justnowaste.ch/thanks/"/>
          <div class="text-center">
            <button type="submit" class="btn-blue" id="form-submit">Recevoir la conférence en video</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
