/* --- Color Variables --- */
$black: #000A19;
$gray: rgb(200,200,200);
$light-gray: #F4F4F4;
$yellow: #fbdc5a;
$corail: #ed5759;
$orange: #faa34d;
$dark-blue: #4b7d8c;
$light-blue: #26b5c7;
$green: #388659;
