/* --- Color Variables --- */
$black: #000A19;
$gray: rgb(200,200,200);
$light-gray: #F4F4F4;
$yellow: #fbdc5a;
$dark-yellow: #FAAB03;
$blue: #048BA8;
$turquoise: #17BEBB;
$dark-blue: #233D4D;

/* --- Less used Color Variables --- */
$green: #388659;
$corail: #ed5759;
$orange: #faa34d;
$old-dark-blue: #4b7d8c;

