/* --- Color Variables --- */
$white: #F7F7F7;
$black: #000A19;
$gray: #0E0000;
$light-gray: #F4F4F4;
$yellow: #fbdc5a;
$corail: #ed5759;
$orange: #faa34d;
$dark-blue: #4b7d8c;
$light-blue: #26b5c7;
$green: #388659;
