---
id: about
title: Just No Waste - A propos
banner_picture: picture-banner-home.jpg
banner_title: Justine Tincq
banner_text: Conseillère en évènements No Waste
banner_layout: content-left
---

<h1 class="main-container text-center">page about</h1>

