---
id: about
title: Just No Waste - A propos
banner_picture:  banner-justine.jpg
banner_title: Justine Tincq
banner_text: Experte en réduction des déchets dans l'évènementiel
banner_layout: content-left
---

<h1 class="main-container text-center">page about</h1>

