---
id: contact
title: Just No Waste - Contact
description: Conctactez Just No Waste
banner_picture: banner-contact.jpg
banner_title: Contact
banner_layout: content-center
banner_gradient: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)),
banner_margin : margin-bottom
---

<div class="main-container form-jnw">
  <h2>Une question, un besoin, une suggestion ?</h2>
  <p>Ecrivez-moi via le formulaire ci-dessous et je vous répondrai au plus vite.</p>
  <%= partial "/layouts/partials/_form-contact.html.erb" %>
</div>
