---
id: contact
title: Just No Waste - Contact
banner_picture: banner-contact.jpg
banner_title: Contact
banner_layout: content-center
banner_gradient: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)),
banner_margin : margin-bottom
---

<h1 class="main-container text-center">page contact</h1>
