---
id: home
title: Just No Waste
banner_picture: picture-banner-home.jpg
banner_title: Make your event ZERO WASTE
banner_text: Just No Waste aide les organisateurs d'évènements à réduire simplement et efficacement les déchets de leurs manifestations.
---

<h1 class="main-container text-center">Welcome to Just No Waste website</h1>
