---
id: home
title: Just No Waste
banner_picture: picture-banner-home.jpg
banner_title: Make your event ZERO WASTE
banner_text: Just No Waste aide les organisateurs d'évènements à réduire simplement et efficacement les déchets de leurs manifestations.
banner_layout: content-center
---
<div class="main-container text-center">
  <h1>Welcome to Just No Waste website</h1>
  <h2>Welcome to Just No Waste website</h2>
  <h3>Welcome to Just No Waste website</h3>
  <h4>Welcome to Just No Waste website</h4>
  <h1 class="highlighted-black">Hello</h1><br>
  <h2 class="highlighted-yellow">Heya</h2>
  <h1 class="underline">Hello</h1><br>
  <h2 class="underline-yellow">Youhou</h2>
</div>

