---
id: prestations
title: Just No Waste - Prestations
banner_picture: banner-presta.jpg
banner_title: Prestations
banner_text: Conseil, mise en oeuvre et formations.
banner_layout: content-left
banner_gradient: linear-gradient(to right, rgba(0,0,0,0.6),rgba(0,0,0,0)),
banner_margin : margin-bottom
---

<h1 class="main-container text-center">page prespations</h1>
